# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Production
build
dist

# Dependency directories
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# TypeScript cache
*.tsbuildinfo

# Yarn v1
.yarn
.pnp.*

# Yarn v2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
